# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.idea

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Release
dist/

# Dependency directories (remove the comment below to include it)
# vendor/
bin/
output/
cmd/flux/manifests/
cmd/flux/.manifests.done
testbin/

# ignore uneccessary testdatae2e/testdata/testOCMController/podinfo/backend/manifests/*
e2e/testdata/podinfo/backend/manifests/*
e2e/testdata/podinfo/frontend/manifests/*
e2e/testdata/podinfo/redis/manifests/*

# ignore generated root certificate
hack/rootCA.pem
hack/cert-manager.yaml
