name: e2e-cli test suite

"on":
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checkout-repos-and-run-test-suite:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout mpas repository
        uses: actions/checkout@v3
      - name: Restore Go cache
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.20.0'
      - name: Run test suite
        run: go test ./e2e-cli -v -count=1 -run TestBootstrap_gitea
