name: tests

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'MAINTAINERS'

  push:
    branches:
      - main

permissions:
  contents: read # for actions/checkout to fetch code

jobs:
  test-linux-amd64:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Restore Go cache
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: '${{ github.workspace }}/go.mod'
      - name: Run tests
        run: make test
